USE [master]
GO
/****** Object:  Database [BookFace]    Script Date: 10/26/2020 7:27:40 PM ******/
CREATE DATABASE [BookFace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookFace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookFace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookFace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookFace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookFace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookFace]
GO
/****** Object:  Table [dbo].[AMIGO]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMIGO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_AMIGO] [int] NOT NULL,
	[ID_AMISTAD] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AMIGO] PRIMARY KEY CLUSTERED 
(
	[ID_AMISTAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID_BITACORA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PUBLICACION] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_TIPO_ACCION] [int] NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[ID_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[ID_COMENTARIO] [int] NOT NULL,
	[ID_PUBLICACION_REF] [int] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_COMENTARIO] PRIMARY KEY CLUSTERED 
(
	[ID_COMENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISPOSITIVO]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPOSITIVO](
	[ID_DISPOSITIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DISPOSITIVO] PRIMARY KEY CLUSTERED 
(
	[ID_DISPOSITIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICACION]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICACION](
	[ID_PUBLICACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_DISPOSITIVO] [int] NOT NULL,
	[ID_TIPO_PUBLICACION] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[CONTENIDO] [nvarchar](500) NOT NULL,
	[IP] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PUBLICACION] PRIMARY KEY CLUSTERED 
(
	[ID_PUBLICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ACCION]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ACCION](
	[ID_TIPO_ACCION] [int] IDENTITY(1,1) NOT NULL,
	[ACCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_ACCION] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PUBLICACION]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PUBLICACION](
	[ID_TIPO_PUBLICACION] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_PUBLICACION] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PUBLICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/26/2020 7:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[CORREO] [nvarchar](50) NOT NULL,
	[NOMBRE1] [nvarchar](50) NOT NULL,
	[NOMBRE2] [nvarchar](50) NULL,
	[APELLIDO1] [nvarchar](50) NOT NULL,
	[APELLIDO2] [nvarchar](50) NULL,
	[FECHA_DE_NACIMIENT] [date] NOT NULL,
	[CONTRASENA] [nvarchar](50) NOT NULL,
	[CANT_MAX_AMIGOS] [int] NOT NULL,
	[FECHA_CREACION] [date] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AMIGO] ON 

INSERT [dbo].[AMIGO] ([ID_USUARIO], [ID_AMIGO], [ID_AMISTAD]) VALUES (46, 29, 1)
INSERT [dbo].[AMIGO] ([ID_USUARIO], [ID_AMIGO], [ID_AMISTAD]) VALUES (32, 29, 2)
INSERT [dbo].[AMIGO] ([ID_USUARIO], [ID_AMIGO], [ID_AMISTAD]) VALUES (52, 31, 3)
SET IDENTITY_INSERT [dbo].[AMIGO] OFF
GO
SET IDENTITY_INSERT [dbo].[BITACORA] ON 

INSERT [dbo].[BITACORA] ([ID_BITACORA], [ID_PUBLICACION], [ID_USUARIO], [ID_TIPO_ACCION], [FECHA_HORA]) VALUES (5, 164, 74, 4, CAST(N'2020-10-26T01:23:49.933' AS DateTime))
INSERT [dbo].[BITACORA] ([ID_BITACORA], [ID_PUBLICACION], [ID_USUARIO], [ID_TIPO_ACCION], [FECHA_HORA]) VALUES (6, 181, 32, 2, CAST(N'2020-10-26T01:24:20.630' AS DateTime))
INSERT [dbo].[BITACORA] ([ID_BITACORA], [ID_PUBLICACION], [ID_USUARIO], [ID_TIPO_ACCION], [FECHA_HORA]) VALUES (7, 189, 60, 3, CAST(N'2020-10-26T01:24:20.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[BITACORA] OFF
GO
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_PUBLICACION_REF], [ACTIVO]) VALUES (205, 162, 1)
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_PUBLICACION_REF], [ACTIVO]) VALUES (206, 162, 1)
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_PUBLICACION_REF], [ACTIVO]) VALUES (208, 162, 1)
GO
SET IDENTITY_INSERT [dbo].[DISPOSITIVO] ON 

INSERT [dbo].[DISPOSITIVO] ([ID_DISPOSITIVO], [NOMBRE]) VALUES (1, N'Ubuntu')
INSERT [dbo].[DISPOSITIVO] ([ID_DISPOSITIVO], [NOMBRE]) VALUES (2, N'Windows')
INSERT [dbo].[DISPOSITIVO] ([ID_DISPOSITIVO], [NOMBRE]) VALUES (3, N'IOS')
SET IDENTITY_INSERT [dbo].[DISPOSITIVO] OFF
GO
SET IDENTITY_INSERT [dbo].[PUBLICACION] ON 

INSERT [dbo].[PUBLICACION] ([ID_PUBLICACION], [ID_DISPOSITIVO], [ID_TIPO_PUBLICACION], [ID_USUARIO], [FECHA_HORA], [CONTENIDO], [IP]) VALUES (151, 11, 2, 65, CAST(N'1979-03-14T19:33:06.420' AS DateTime), N'publicacion aleatoria No.0', N'135.90.114.51')
INSERT [dbo].[PUBLICACION] ([ID_PUBLICACION], [ID_DISPOSITIVO], [ID_TIPO_PUBLICACION], [ID_USUARIO], [FECHA_HORA], [CONTENIDO], [IP]) VALUES (152, 9, 1, 54, CAST(N'2007-12-07T22:52:40.427' AS DateTime), N'publicacion aleatoria No.1', N'88.3.122.16')
INSERT [dbo].[PUBLICACION] ([ID_PUBLICACION], [ID_DISPOSITIVO], [ID_TIPO_PUBLICACION], [ID_USUARIO], [FECHA_HORA], [CONTENIDO], [IP]) VALUES (153, 3, 1, 38, CAST(N'2005-02-12T16:11:41.140' AS DateTime), N'publicacion aleatoria No.2', N'78.96.225.220')
SET IDENTITY_INSERT [dbo].[PUBLICACION] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_ACCION] ON 

INSERT [dbo].[TIPO_ACCION] ([ID_TIPO_ACCION], [ACCION]) VALUES (1, N'Like')
INSERT [dbo].[TIPO_ACCION] ([ID_TIPO_ACCION], [ACCION]) VALUES (2, N'Dislike')
INSERT [dbo].[TIPO_ACCION] ([ID_TIPO_ACCION], [ACCION]) VALUES (3, N'Removed-Like')
SET IDENTITY_INSERT [dbo].[TIPO_ACCION] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_PUBLICACION] ON 

INSERT [dbo].[TIPO_PUBLICACION] ([ID_TIPO_PUBLICACION], [TIPO]) VALUES (1, N'Post')
INSERT [dbo].[TIPO_PUBLICACION] ([ID_TIPO_PUBLICACION], [TIPO]) VALUES (2, N'Noticia')
INSERT [dbo].[TIPO_PUBLICACION] ([ID_TIPO_PUBLICACION], [TIPO]) VALUES (3, N'Imagen')
SET IDENTITY_INSERT [dbo].[TIPO_PUBLICACION] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [CORREO], [NOMBRE1], [NOMBRE2], [APELLIDO1], [APELLIDO2], [FECHA_DE_NACIMIENT], [CONTRASENA], [CANT_MAX_AMIGOS], [FECHA_CREACION]) VALUES (29, N'orrigawel-9767@yopmail.com', N'Otto', NULL, N'Gawel', N'Perez', CAST(N'1999-05-01' AS Date), N'123456', 50, CAST(N'2005-05-06' AS Date))
INSERT [dbo].[USUARIO] ([ID_USUARIO], [CORREO], [NOMBRE1], [NOMBRE2], [APELLIDO1], [APELLIDO2], [FECHA_DE_NACIMIENT], [CONTRASENA], [CANT_MAX_AMIGOS], [FECHA_CREACION]) VALUES (30, N'eryxalom-4690@yopmail.com', N'David', NULL, N'Xalom', NULL, CAST(N'1999-06-02' AS Date), N'123456', 50, CAST(N'2005-06-06' AS Date))
INSERT [dbo].[USUARIO] ([ID_USUARIO], [CORREO], [NOMBRE1], [NOMBRE2], [APELLIDO1], [APELLIDO2], [FECHA_DE_NACIMIENT], [CONTRASENA], [CANT_MAX_AMIGOS], [FECHA_CREACION]) VALUES (31, N'meddenaryg-5728@yopmail.com', N'Ronal', NULL, N'Denary', N'Hurtado', CAST(N'1999-07-03' AS Date), N'123456', 50, CAST(N'2005-07-06' AS Date))
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__264F33C86622C7C1]    Script Date: 10/26/2020 7:27:41 PM ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AMIGO]  WITH CHECK ADD  CONSTRAINT [FK_AMIGO_REFERENCE_USUARIO] FOREIGN KEY([ID_AMIGO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[AMIGO] CHECK CONSTRAINT [FK_AMIGO_REFERENCE_USUARIO]
GO
ALTER TABLE [dbo].[AMIGO]  WITH CHECK ADD  CONSTRAINT [FK_AMIGO_REFERENCE_USUARIO2] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[AMIGO] CHECK CONSTRAINT [FK_AMIGO_REFERENCE_USUARIO2]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_REFERENCE_PUBLICAC] FOREIGN KEY([ID_PUBLICACION])
REFERENCES [dbo].[PUBLICACION] ([ID_PUBLICACION])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_REFERENCE_PUBLICAC]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_REFERENCE_TIPO_ACC] FOREIGN KEY([ID_TIPO_ACCION])
REFERENCES [dbo].[TIPO_ACCION] ([ID_TIPO_ACCION])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_REFERENCE_TIPO_ACC]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_REFERENCE_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_REFERENCE_USUARIO]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_COMENTAR_REFERENCE_PUBLICAC] FOREIGN KEY([ID_PUBLICACION_REF])
REFERENCES [dbo].[PUBLICACION] ([ID_PUBLICACION])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [FK_COMENTAR_REFERENCE_PUBLICAC]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_COMENTAR_REFERENCE_PUBLICAC2] FOREIGN KEY([ID_COMENTARIO])
REFERENCES [dbo].[PUBLICACION] ([ID_PUBLICACION])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [FK_COMENTAR_REFERENCE_PUBLICAC2]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICAC_REFERENCE_DISPOSIT] FOREIGN KEY([ID_DISPOSITIVO])
REFERENCES [dbo].[DISPOSITIVO] ([ID_DISPOSITIVO])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [FK_PUBLICAC_REFERENCE_DISPOSIT]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICAC_REFERENCE_TIPO_PUB] FOREIGN KEY([ID_TIPO_PUBLICACION])
REFERENCES [dbo].[TIPO_PUBLICACION] ([ID_TIPO_PUBLICACION])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [FK_PUBLICAC_REFERENCE_TIPO_PUB]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICAC_REFERENCE_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [FK_PUBLICAC_REFERENCE_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[AumentoAmigos]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AumentoAmigos]  as
begin
	UPDATE USUARIO 
		SET CANT_MAX_AMIGOS = CANT_MAX_AMIGOS +  ( 
			SELECT  COUNT(1)
			FROM  PUBLICACION P 
			WHERE  (P.ID_USUARIO = USUARIO.ID_USUARIO  AND ((SELECT COUNT(1)
					FROM BITACORA
					WHERE ID_PUBLICACION = P.ID_PUBLICACION AND ID_TIPO_ACCION = 1 )
				-(SELECT COUNT(1)
					FROM BITACORA
					WHERE ID_PUBLICACION = P.ID_PUBLICACION AND ID_TIPO_ACCION = 2) 
				- (SELECT COUNT(1)
					FROM BITACORA
					WHERE ID_PUBLICACION = P.ID_PUBLICACION AND ID_TIPO_ACCION = 3)
				+(SELECT COUNT(1)
					FROM BITACORA
					WHERE ID_PUBLICACION = P.ID_PUBLICACION AND ID_TIPO_ACCION = 4)
				> 14))) ;
end
GO
/****** Object:  StoredProcedure [dbo].[COMENTARIOEliminar]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*ELIMINAR COMENTARIOS*/

/*El proceso podrá eliminar un comentario específico de una publicación,
deberá validar si existen comentarios en cola ( y que no están activos) para
que ocupen el lugar que deja el comentario eliminado. */

CREATE   procedure [dbo].[COMENTARIOEliminar]
	@IdComentario integer  as
begin
	
	declare @contador int
	select @contador = COUNT(1)
	from COMENTARIO
	where ID_COMENTARIO = @IdComentario

	if(@contador != 0)
	BEGIN
		declare @activo bit
		declare @publi int
		select @activo = ACTIVO, @publi = ID_PUBLICACION_REF
		from COMENTARIO
		where ID_COMENTARIO = @IdComentario

		
		/*ELIMINAR DE COMENTARIO*/
		DELETE FROM COMENTARIO
		WHERE ID_COMENTARIO = @IdComentario
		/*ELIMINAR DE PUBLICACION*/
		DELETE FROM PUBLICACION
		WHERE ID_PUBLICACION = @IdComentario
		

		PRINT 'El comentario fue eliminado'

		if(@activo=1)
		begin
			declare @comentProx int

			select TOP 1 @comentProx = C.ID_COMENTARIO
			from PUBLICACION P
				inner join COMENTARIO C on (P.ID_PUBLICACION = C.ID_COMENTARIO)
			where C.ID_PUBLICACION_REF = @publi  AND C.ACTIVO = 0
			order by P.FECHA_HORA

		UPDATE COMENTARIO
		SET ACTIVO = 1
		WHERE ID_COMENTARIO = @comentProx;
		
		end
	END
	ELSE
	BEGIN
		PRINT 'El comentario no existe'
	END
end
GO
/****** Object:  StoredProcedure [dbo].[IngresandoUsuarios]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[IngresandoUsuarios]
AS
BEGIN
	BULK INSERT Bookface..USUARIO FROM 'C:\Users\karen\Desktop\bases.csv'
	WITH 
	(
	DATAFILETYPE = 'CHAR', 
	FIELDTERMINATOR=';', 
	ROWTERMINATOR='\n',
	FIRE_TRIGGERS
	)
END 
GO
/****** Object:  StoredProcedure [dbo].[pResPublicaciones]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pResPublicaciones] AS
	begin
	SELECT k.mes, k.anio,count(1) as cantPublicacion
	FROM
	(
	select MONTH(P.FECHA_HORA) mes,YEAR(P.FECHA_HORA) anio, COUNT(1) as cantidad
	from PUBLICACION P
	inner join COMENTARIO C on P.ID_PUBLICACION = C.ID_COMENTARIO
	GROUP BY MONTH(P.FECHA_HORA),YEAR(P.FECHA_HORA),C.ID_PUBLICACION_REF
	) AS K
	where cantidad > 2
	GROUP BY k.mes, k.anio
END  
GO
/****** Object:  StoredProcedure [dbo].[PublicacionesImpacto]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Detalle de publicaciones que en algún momento impactaron en el incremento de la
cantidad máxima de amigos para un usuario.*/

CREATE   PROCEDURE [dbo].[PublicacionesImpacto] 
AS
BEGIN
DECLARE @MeGusta int, @NoMeGusta int
SET @MeGusta = 0; SET @NoMeGusta = 0;
SELECT U.nombre1 AS [Nombre], U.Apellido1 AS [Apellido], P.fecha_hora AS [Fecha y hora de publicacion],
		P.contenido AS [Contenido de publicación], D.id_dispositivo AS [Dispositivo],
		TP.tipo AS [Tipo de publicacion], P.ip AS [IP de creacion]

FROM bitacora B
	INNER JOIN Publicacion P on (P.id_publicacion = B.id_publicacion)
	INNER JOIN Tipo_accion A ON (A.id_tipo_accion = B.id_tipo_accion)
	INNER JOIN Usuario U ON (U.id_usuario = P.id_usuario)
	INNER JOIN Tipo_publicacion TP ON (TP.id_tipo_publicacion = P.id_tipo_publicacion)
	INNER JOIN Dispositivo D ON (D.id_dispositivo = P.id_dispositivo)

GROUP BY A.accion, U.nombre1, U.Apellido1, P.fecha_hora, P.contenido, D.id_dispositivo, TP.tipo, P.ip
HAVING COUNT(CASE WHEN A.id_tipo_accion = 1 THEN 1 END) - COUNT(CASE WHEN A.id_tipo_accion = 2 THEN 1 END) - COUNT(CASE WHEN A.id_tipo_accion = 3 THEN 1 END) + COUNT(CASE WHEN A.id_tipo_accion = 4 THEN 1 END) > 14 --tomando 1 como el id de la acción 'like'
END
GO
/****** Object:  StoredProcedure [dbo].[Reporte]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Reporte] 
AS
BEGIN
--Tabla temporal creada
CREATE TABLE
#ReporteDeCrecimiento (ID INT IDENTITY(1,1), fecha_creacion DATE, cantidad_usuarios INT, porcentaje INT);

--Insertando fechas y cantidades (con 0% en todo de crecimiento)
INSERT INTO #ReporteDeCrecimiento
	(fecha_creacion, cantidad_usuarios, porcentaje)
SELECT U.fecha_creacion, 0, 0
FROM Bitacora B
		INNER JOIN USUARIO U ON (U.id_usuario = B.id_usuario)
GROUP BY U.fecha_creacion
ORDER BY U.fecha_creacion ASC

--Prueba
SELECT *
FROM #ReporteDeCrecimiento

--Cursor para calcular el porcentaje en la tabla actual
DECLARE @fecha date, @cantUsr int, @totalUsrs int
SET @totalUsrs = 0;

DECLARE C_CrecimientoUsr CURSOR GLOBAL FOR
SELECT fecha_creacion
FROM #ReporteDeCrecimiento

OPEN C_CrecimientoUsr
FETCH C_CrecimientoUsr INTO @fecha
WHILE (@@FETCH_STATUS = 0)
BEGIN

	UPDATE #ReporteDeCrecimiento
	SET cantidad_usuarios = (	
								SELECT COUNT(Us.id_usuario) FROM USUARIO Us
								GROUP BY fecha_creacion
								HAVING @fecha = fecha_creacion 
							)
	WHERE @fecha = fecha_creacion 

	IF @totalUsrs = 0
	BEGIN
			UPDATE #ReporteDeCrecimiento
			SET porcentaje = 100
			WHERE @fecha = fecha_creacion 

			SET @totalUsrs = ( SELECT cantidad_usuarios FROM #ReporteDeCrecimiento WHERE @fecha = fecha_creacion )
	END
	ELSE
	BEGIN	
			SET @cantUsr = ( SELECT cantidad_usuarios FROM #ReporteDeCrecimiento WHERE @fecha = fecha_creacion )

			UPDATE #ReporteDeCrecimiento
			SET porcentaje = (@cantUsr*100)/@TotalUsrs
			WHERE @fecha = fecha_creacion 

			SET @totalUsrs = @totalUsrs + @cantUsr
	END
	FETCH NEXT FROM C_CrecimientoUsr into @fecha,  @cantUsr
END
CLOSE C_CrecimientoUsr
DEALLOCATE C_CrecimientoUsr

SELECT *
FROM #ReporteDeCrecimiento

--Elimina tabla temporal
DROP TABLE #ReporteDeCrecimiento
END
GO
/****** Object:  StoredProcedure [dbo].[uspGenerarPublicaciones]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  	 PROCEDURE  [dbo].[uspGenerarPublicaciones] 
@cantPub integer,
@cantU integer
AS  --Transaction 

	set transaction isolation level read uncommitted;
	--BEGIN TRANSACTION
DECLARE @numU int--cantidad total de usuarios existentes
DECLARE @cont int = 0;
DECLARE @idusr int 
DECLARE @rndDispo int 
DECLARE @rndtipo int 
DECLARE @rndip nvarchar(15)
DECLARE @minId int
DECLARE @maxId int
DECLARE @Fecha datetime 
BEGIN
BEGIN TRANSACTION t 

	SELECT @numU = (SELECT count(1) FROM dbo.USUARIO u)
	SELECT @minId = (SELECT MIN(u.ID_USUARIO) FROM dbo.USUARIO u)
	SELECT @maxId = (SELECT MAX(u.ID_USUARIO) FROM dbo.USUARIO u)


	IF(@cantU > @numU)
	BEGIN
		ROLLBACK 
		PRINT 'No hay esa cantidad de usuarios'
	END 
	ELSE

		WHILE @cont < @cantPub
		BEGIN 
			SET @idusr = floor(RAND()*(@maxId - @minId)+ @minId); --random de asignacion de usuario
			SET @rndDispo = floor(RAND()*((15+1)-1)+1) --random para ingreso de dispositivo 
			SET @rndtipo = floor(RAND()*((3+1)-1)+1) --random para insertar el tipo de publicacion
			SET @Fecha = convert(datetime,'01-01-1980',0) + (365 * 41 * RAND() - 365) --cambiar para 2020
			SET @rndip = cast(floor(RAND()*((253+1)-1)+1) AS varchar(3))+'.'+cast(floor(RAND()*((253+1)-1)+1)AS varchar(3))+'.'
			+cast(floor(RAND()*((253+1)-1)+1)AS varchar(3))+'.'+cast(floor(RAND()*((253+1)-1)+1)AS varchar(3))
			INSERT INTO dbo.PUBLICACION
			(
				--ID_PUBLICACION - column value is auto-generated
				ID_DISPOSITIVO,
				ID_TIPO_PUBLICACION,
				ID_USUARIO,
				FECHA_HORA,
				CONTENIDO,
				IP
			)
				SELECT @rndDispo,@rndtipo,@idusr,@Fecha,'publicacion aleatoria No.'+cast(@cont as varchar(5)),@rndip

			SET @cont = @cont + 1;
			
		END 
		COMMIT TRANSACTION t 
END
GO
/****** Object:  StoredProcedure [dbo].[uspIngresarComentario]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   Procedure [dbo].[uspIngresarComentario]
@ID_Publicacion integer,
@ID_Usuario integer,
@ID_Dispositivo integer,
@ID_Tipo integer,
@Contenido nvarchar(50),
@IP_Address nvarchar(50)
As
Begin

	Set transaction isolation level serializable;
	Begin transaction

	Declare @ComentPublicacion integer;
	Declare @ID_Comentario integer;

	IF EXISTS (	Select P.ID_USUARIO, A.ID_AMIGO from PUBLICACION P
				Inner Join AMIGO A on P.ID_USUARIO = A.ID_USUARIO
				Where ID_PUBLICACION = @ID_Publicacion AND (A.ID_AMIGO = @ID_Usuario OR P.ID_USUARIO = @ID_Usuario) )
	Begin


		-- Contar cantidad total de comentarios para una publicacion dada
		Select @ComentPublicacion = COUNT(1)
		from COMENTARIO
		Where	ID_PUBLICACION_REF = @ID_Publicacion 
				AND ACTIVO = 1

		-- Ingresar contenido del comentario
		Insert Into PUBLICACION (ID_DISPOSITIVO, ID_TIPO_PUBLICACION, ID_USUARIO, FECHA_HORA, CONTENIDO, IP)
		Values (@ID_Dispositivo, @ID_Tipo, @ID_Usuario, GETDATE(), @Contenido, @IP_Address);

		-- Valor del ID comentaario
		Set @ID_Comentario = SCOPE_IDENTITY();

		-- Validar activo/inactivo
		If (@ComentPublicacion < 3)
			Begin
				Insert Into COMENTARIO (ID_COMENTARIO, ID_PUBLICACION_REF, ACTIVO)
				Values (@ID_Comentario, @ID_Publicacion, 1)
			End
		Else
			Begin
				Insert Into COMENTARIO (ID_COMENTARIO, ID_PUBLICACION_REF, ACTIVO)
				Values (@ID_Comentario, @ID_Publicacion, 0)
			End
	
		If @@ERROR = 0
			Begin
				Print('Comentario ingresado con exito');
				commit;
			End
		Else
			Begin
				Print('Error al ingresar comentario');
				rollback;
			End
		End
	Else
		Begin
			Print('El usuario no se encuentra en la lista de amigos');
			rollback;
		End
End
GO
/****** Object:  StoredProcedure [dbo].[uspIngresarInteraccion]    Script Date: 10/26/2020 7:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /* 
 Interacción (15pts) 
 El proceso tendrá la capacidad de recibir una interacción para una publicación en específico. 
 Solicitando la información respectiva según las reglas descritas. 
	▪ Nivel de aislamiento 
 */

Create   Procedure [dbo].[uspIngresarInteraccion]
@ID_Publicacion integer,
@ID_Usuario integer,
@ID_Accion integer -- Se asume 1 para Like y 2 para Dislike
As
Begin

	Set transaction isolation level serializable;
	Begin transaction

	Declare @CantLikeGeneral integer;
	Declare @CantDislikeGeneral integer;

	Declare @CantLikeUsuario integer;
	Declare @CantDislikeUsuario integer;

	-- Contar likes y dislikes totales, tomando en cuenta solo los validos.
	-- Cuando una accion se deshace, se resta del total respectivo
	Select
	@CantLikeGeneral =
	COALESCE(SUM(case    when ID_TIPO_ACCION = 1 then 1
				when ID_TIPO_ACCION = 3 then -1
				else 0 end),0),
	@CantDislikeGeneral =
	COALESCE(SUM(case    when ID_TIPO_ACCION = 2 then 1
				when ID_TIPO_ACCION = 4 then -1
				else 0 end),0),
	@CantLikeUsuario =
	COALESCE(SUM(case    when ID_TIPO_ACCION = 1 AND ID_USUARIO = @ID_Usuario then 1
				when ID_TIPO_ACCION = 3 AND ID_USUARIO = @ID_Usuario then -1
				else 0 end),0),
	@CantDislikeUsuario =
	COALESCE(SUM(case    when ID_TIPO_ACCION = 2 AND ID_USUARIO = @ID_Usuario then 1
				when ID_TIPO_ACCION = 4 AND ID_USUARIO = @ID_Usuario then -1
				else 0 end),0)
	from BITACORA
	Where ID_PUBLICACION = @ID_Publicacion

	
	IF EXISTS (	Select P.ID_USUARIO, A.ID_AMIGO from PUBLICACION P
				Inner Join AMIGO A on P.ID_USUARIO = A.ID_USUARIO
				Where ID_PUBLICACION = @ID_Publicacion AND (A.ID_AMIGO = @ID_Usuario OR P.ID_USUARIO = @ID_Usuario) )
	Begin

		-- Remover Like
		If (@ID_Accion = 3)
			Begin
				If (@CantLikeUsuario > 0)
					Begin
						Insert Into BITACORA (ID_PUBLICACION, ID_USUARIO, ID_TIPO_ACCION, FECHA_HORA)
						Values (@ID_Publicacion, @ID_Usuario, 3, GETDATE());
						commit;
					End
				Else
					Begin
						Print('No existen likes para remover');
						rollback;
					End
			End
		-- Remover Dislike
		Else If (@ID_Accion = 4)
			Begin
				If (@CantDislikeUsuario > 0)
					Begin
						Insert Into BITACORA (ID_PUBLICACION, ID_USUARIO, ID_TIPO_ACCION, FECHA_HORA)
						Values (@ID_Publicacion, @ID_Usuario, 4, GETDATE());
						commit;
					End
				Else
					Begin
						Print('No existen dislikes para remover');
						rollback;
					End
			End
		-- Insertar Like o Dislike
		Else If (@ID_Accion = 1 OR @ID_Accion = 2)
			Begin
				If (@ID_Accion = 1 OR (@ID_Accion = 2 AND @CantLikeGeneral > @CantDislikeGeneral))
					Begin
						If (@CantLikeUsuario = 0 AND @CantDislikeUsuario = 0)
							Begin
									Insert Into BITACORA (ID_PUBLICACION, ID_USUARIO, ID_TIPO_ACCION, FECHA_HORA)
									Values (@ID_Publicacion, @ID_Usuario, @ID_Accion, GETDATE());
									commit;
							End
						Else
							Begin
								Print('El usuario ya ha interactuado con la publicacion');
								rollback;
							End
					End
				Else
					Begin
						Print('No existen suficientes likes para insertar un nuevo dislike');
						rollback;
					End
			End
		Else
			Begin
				Print('Interaccion no reconocida');
				rollback;
			End
		End
	Else
		Begin
			Print('El usuario no se encuentra en la lista de amigos');
			rollback;
		End
End
GO
USE [master]
GO
